header.header
    .header__colomn
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action =routes.search, method = "get")
            input(type="text", placeholder ="Search by term ...", name= "term")
    .header__colomn
        ul 
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log in